* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.--align {
    padding: 0 80px;
    z-index: 1024;
}

.bg-white {
    background-color: rgb(255 255 255);
}

.z-9 {
    z-index: 9;
}

.top-0 {
    top: 0;
}

.sticky {
    position: sticky;
}

.item-center {
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    height: 82px;
    padding: 14px 0px;
}

.flex {
    display: flex;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    /* display: flex; */

}

.search input {
    width: 38vw;
    height: 40px;
    padding-left: 1.5rem;
    background: #F3F4F6;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    margin-left: 60px;
    transition: all 0.3s;
    outline: none;
}

.search input::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.search input:focus {
    /* border-color:  rgb(131, 76, 219); */
    border-color: rgb(168, 167, 168);
    outline: none;
}

.user-log-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 80px;
}

.user {
    cursor: pointer;
    margin-left: auto;
    font-size: 20px;
}

.user-p {
    font-size: 14px;
    font-weight: 450;
    padding-left: 10px;
    color: rgb(44, 46, 49);
}

.user-2 {
    display: block;
    cursor: pointer;
    margin-left: 20px;
}

.user-p2 {
    font-size: 14px;
    padding-left: 10px;
    font-weight: 450;
    margin-left: 20px;
    margin-top: -20px;
    color: rgb(44, 46, 49);
}

a{
    text-decoration: none;
}

.home-pro ul{
    display: flex;

}
.home-pro ul a li{
    font-size: 12px;
    list-style: none;
    margin-right: .5rem;
    margin-left: .5rem;
    font-weight: 400;
}
.home-pro ul li{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.home-pro ul a{
    text-decoration: none;
}

.two-in-one-flex{
    display: flex;
    column-gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
}

.for-col-mar-pad{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    width: 75%;
    gap: 20px;
    border-radius: 6px;
    border: 1px solid rgb(235 235 235);
    padding-top: 20px;
    padding-bottom: 20px;
}

.hid-item-inline{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235 235 235);
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: rgb(113 116 120);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.col-span-2{
    grid-column: span 2 / span 2;
    text-align: left;
}

.grid-5-in-row{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding-left: 30px;
    padding-right: 30px;
}

.grid-2-with-price{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    grid-column: span 2 / span 2;
}

.card-in-bor{
    display: inline-block;
    border-radius: 6px;
    border: 1px solid rgb(209 209 209);
    padding: 4px;
}

.pos-rel-for-img{
    position: relative;
    display: inline-block;
    height: 130px;
    width: 130px;
}

.pos-rel-for-img img{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.maj-h30{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.mar-20-col-h30{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 8px;
}

.inc-quan-minus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

.for-minus-low{
    display: flex;
    width: 40px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(237 225 255);
    font-size: 18px;
}

.fbg-white-one-two{
    display: flex;
    width: 50px;
    cursor: text;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-color: rgb(217 217 217);
    background: white;
    text-align: center;
}

.inp-for-num{
    cursor: default;
    height: 28px;
    text-align: center;
    width: 100%;
    color-scheme: dark;
    opacity: 0.6;
    background: white;
    color: rgb(73, 72, 72);
    font-size: 16px;
    font-weight: 500;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
}

.for-plus-high{
    display: flex;
    width: 40px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(105 51 190);
    font-size: 18px;
    color: white;
}

.hid-bl-change-price{
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.cro-remove{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(105 51 190);
    font-size: 16px;
    font-weight: 600;
}

.hei-wid-rem{
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

.lg-w-25{
    width: 25%;
}

.bor-bo-round-tex{
    border-radius: 6px;
    border: 1px solid rgb(235,235,235);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.fle-jus-con-alg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.fle-jus-con-alg-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.fle-jus-con-alg-0{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.idk-but-yk{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(217 217 217);
    opacity: 0.3;
}
.fle-jus-con-alg-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 550;
    color: rgb(44, 46, 49);
}

.check-btn-out{
    display: block;
    margin-top: 30px;
}

.gud-che-lo{
    cursor: pointer;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(105 51 190);
    font-weight: 600;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

.mx-4h{
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}