* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.--align {
    padding: 0 80px;
    z-index: 1024;
}

.bg-white {
    background-color: rgb(255 255 255);
}

.z-9 {
    z-index: 9;
}

.top-0 {
    top: 0;
}

.sticky {
    position: sticky;
}

.item-center {
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    height: 82px;
    padding: 14px 0px;
}

.flex {
    display: flex;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    /* display: flex; */

}

.bx-search {
    display: block;
    color: rgb(146,146,146);
    height: 18px;
    width: 18px;
}

.search{
    width: 38vw;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #F3F4F6;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    margin-left: 60px;
    transition: all 0.3s;
    outline: none;
    display: flex;
    align-items: center;
}

.search input{
    padding-left: .5rem;
    background-color: #F3F4F6;
    outline: none;
    border: none;
    width: 36vw;

}
.search input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: rgb(146,146,146);
}

.search input:focus {
    /* border-color:  rgb(131, 76, 219); */
    border-color: rgb(168, 167, 168);
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

.user-log-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 80px;
}

.user {
    cursor: pointer;
    margin-left: auto;
    font-size: 20px;
}

.user-p a{
    text-decoration: none;
    color: rgb(44,46,49);
}
.user-p2 a{
    text-decoration: none;
    color: rgb(44,46,49);
}
.user-p {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    color: rgb(44, 46, 49);
    cursor: pointer;
}

.user-2 {
    display: block;
    cursor: pointer;
    margin-left: 20px;
}

.user-p2{
    font-size: 14px;
    padding-left: 10px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: -20px;
    color: rgb(44, 46, 49);
    cursor: pointer;
}
a{
    text-decoration: none;
}

.flex-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 35px;
    margin-bottom: 3%;
}

.box {
    display: block;
    height: 64px;
    width: 120px;
    background-color: rgb(237 225 255);
    border-radius: 6px;
    opacity: 1;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25)
}

.box img {
    cursor: pointer;
    top: -20px;
    position: relative;
    object-fit: contain;
    height: 124%;
    width: 100%;
}

.flex-set p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 450;
    margin-top: -10px;

}
.box a{
    text-decoration: none;
}
.box p {
    color: rgb(44, 46, 49);
}

.main-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.banner {
    flex: 0 0 100%;
}

.banner img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;    
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(105 51 190);
  border: none;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
.title-1 h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(44, 46, 49);
    margin-top: 2%;
}

.viewall-1 {
    display: flex;
    justify-content: flex-end;
    margin-top: -34px;
}

.viewall-1 a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(105 51 190);
}

.viewall-1 svg {
    position: relative;
    margin-bottom: -6px;
}


.bi-arrow-left-short {
    position: absolute;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(105 51 190);
    padding: 7px;
    border: none;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
    border-radius: 5px;
    left: 60px;
    cursor: pointer;
}

.all_anchor{
    text-decoration: none;
    color: black;
}

.card-wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 23px;
    transition: transform 0.5s ease-in-out;
}

.card-wrap::-webkit-scrollbar {
    width: 0;
}

.card-wrap .column-1 {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235 235 235);
    border-radius: 5px;
    height: 440px;
    min-width: 362px;
    gap: 35px;
    transition: transform 0.3s;
}

.card-wrap img {
    height: 340px;
    width: 412px;
    max-width: 100%;
    object-fit: cover;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

/* 350
    380
    346
    292 */
.column-1 h4 {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 8px;
    color: black;
    font-weight: 400;
}

.column-1 p {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 1px;
    font-weight: 450;
}

.column-1 span {
    font-size: 12px;
    margin-top: 5px;

}

.bi-arrow-right-short {
    position: absolute;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(105 51 190);
    border: none;
    padding: 7px;
    box-shadow: 0px 0px 4px 0 rgb(0, 0, 0, 0.25);
    border-radius: 5px;
    right: 60px;
    cursor: pointer;
}

.footer {
    display: flex;
    background-color: rgb(105 51 190);
    width: 100%;
    height: 30%;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.foot-logo {
    width: 200px;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    row-gap: 10px;
    column-gap: 50px;
}

.block {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    width: 22vh;
    color: white;
    text-decoration: none;
}

.foot-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bl-icon-1 {
    margin-right: 25px;
    margin-left: 10px;
}

.bl-icon-2 svg {
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px;
}

.block-hidden {
    color: rgb(105 51 190);
}

.lastfoot-icon {
    display: flex;
    position: relative;
    margin-top: 55px;
}

.last-3-footicon {
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.inc-width {
    position: absolute;
    width: 196%;
    left: 35px;
}

.inc-width-2 {
    position: relative;
    width: 130%;
    right: -321px;
}

.end-icon-4 {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    gap: 50px;
}

.for-icon-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
}

.bg-col-rad {
    background-color: rgb(105 51 190);
    padding: 6px;
    border-radius: 50%;
}

.black-font {
    color: rgb(44 46 49);
    font-size: 14px;
    font-weight: 400;
}